---
import "../styles/style.css";
import Card from "../components/Card.astro";
import Mainlayouts from "../layouts/Mainlayouts.astro";
---

		<Mainlayouts isSearchVisible={false}>
			<h1>Spotify-Playliste</h1>
			<section class="spotify_playliste">
				<Card header="Today's Top Hits" text="Jung Kook is on top of the hottest 50!"><img src="https://picsum.photos/id/65/150/150" alt="billede1"></Card>
				<Card header="Rap Caviar" text="New music from Drake, Rod Wawe"><img src="https://picsum.photos/id/68/150/150" alt="billede2"></Card>
				<Card header="All Out's 2010s" text="Jung Kook is on top of the hottest 50!"><img src="https://picsum.photos/id/76/150/150" alt="billede3"></Card>
				<Card header="Rock Classics" text="Jung Kook is on top of the hottest 50!"><img src="https://picsum.photos/id/240/150/150" alt="billede4"></Card>
				<Card header="Chill Hits" text="Jung Kook is on top of the hottest 50!"><img src="https://picsum.photos/id/331/150/150" alt="billede5"></Card>
			</section>
				<h1>Fokus</h1>
			<section class="spotify_playliste">
				<Card header="Peaceful Piano" text="Jung Kook is on top of the hottest 50!"><img src="https://picsum.photos/id/325/150/150" alt="billede6"></Card>
				<Card header="Deep Focus" text="Jung Kook is on top of the hottest 50!"><img src="https://picsum.photos/id/334/150/150" alt="billede7"></Card>
				<Card header="Instrumental Study" text="Jung Kook is on top of the hottest 50!"><img src="https://picsum.photos/id/338/150/150" alt="billede8"></Card>
				<Card header="Beats To Think" text="Jung Kook is on top of the hottest 50!"><img src="https://picsum.photos/id/349/150/150" alt="billede8"></Card>
				<Card header="Focus Flow" text="Jung Kook is on top of the hottest 50!"><img src="https://picsum.photos/id/364/150/150" alt="billede9"></Card>
		</section>
		</Mainlayouts>

	