---
import "../styles/style.css"
import Mainlayouts from "../layouts/Mainlayouts.astro";
import Searchcard from "../components/Searchcard.astro";
const hasSearch = true;
---


<Mainlayouts isSearchVisible = {true}>
       	<h1>Udforsk alle</h1>
			<section class="spotify_playliste">
           
                <Searchcard header="Podcast"><img class="rotate" src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Specielt til dig"><img class="rotate" src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Top 100"><img class="rotate" src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Hitlister"><img class="rotate" src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Blandet godt" ><img class="rotate" src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Nye udgivelser"><img class="rotate" src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Opdag"><img class="rotate" src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Pop"><img class="rotate" src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Sommer"><img class="rotate" src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Party"><img class="rotate" src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>	
             <Searchcard header="Chill"><img class="rotate" src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Godmorgen"><img class="rotate" src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Træning"><img class="rotate" src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Rock"><img class="rotate" src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Løb"><img class="rotate" src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>	
</section>
			
</Mainlayouts>

<style>

</style> 

