---
import "../styles/style.css"
import Mainlayouts from "../layouts/Mainlayouts.astro";
import Searchcard from "../components/Searchcard.astro";
---


<Mainlayouts>
       	<h1>Udforsk alle</h1>
			<section class="spotify_playliste">
           
                <Searchcard header="Podcast"><img src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Specielt til dig"><img src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Top 100"><img src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Hitlister"><img src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Blandet godt" ><img src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Nye udgivelser"><img src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Opdag"><img src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Pop"><img src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Sommer"><img src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Party"><img src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>	
             <Searchcard header="Chill"><img src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Godmorgen"><img src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Træning"><img src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Rock"><img src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>
             <Searchcard header="Løb"><img src="https://picsum.photos/id/65/150/150" alt="billede1"></Searchcard>	
</section>
			
</Mainlayouts>

<style>
 
</style> 

