---
const {header} = Astro.props;
const {text} = Astro.props;
---


<article>
<slot/>
<h2>{header}</h2>
<p>{text}</p>
</article>

<style>
 article{
background-color: rgb(45, 45, 45);
 position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-medium);
 }
 p{
    color:grey;
 }
 svg {
    width: var(--space-sm);
    height: var(--space-sm);
    margin: var(--space-xxs);
    display: block;
  }

</style> 