---
const {header} = Astro.props;

---


<article>

<h2>{header}</h2>
<slot/>
</article>

<style>
 article{
background-color: rgb(45, 45, 45);
 position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
 }
 p{
    color:grey;
      font-family: "Poppins", sans-serif;
 }
 article{
background-color: rgb(45, 45, 45);
 }

 

</style> 